@model DocumentFlow.Models.ViewModels.Document.GetDocumentDto

@{
    Layout = null;
}
<head>
    <link rel="icon" type="image/x-icon" href="~/assets/img/favicon.ico"/>
    <link href="~/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/datatables.css">
    <link rel="stylesheet" type="text/css" href="~/assets/css/forms/theme-checkbox-radio.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/dt-global_style.css">
    <link rel="stylesheet" type="text/css" href="~/plugins/table/datatable/custom_dt_custom.css">
    <link href="~/assets/css/pages/privacy/privacy.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/css/scrollspyNav.css" rel="stylesheet" type="text/css"/>
    <link href="~/assets/css/components/custom-modal.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="privacyWrapper" class="">
    <div class="privacy-container">
        <div class="privacyContent">
            <div class="d-flex justify-content-between privacy-head">
                <div class="privacyHeader">
                    <h5>№: @Model.DocumentNumber</h5>
                    <h6>@Model.CreatedAtCorrespondent.ToString("yyyy MMMM dd")</h6>
                </div>

                <div class="get-privacy-terms align-self-center">
                    <a class="btn btn-primary" asp-action="GetAll" asp-controller="Document">
                        Назад
                    </a>
                </div>
            </div>
            <div class="privacy-content-container">
                <section>
                    <h4 style="text-align: center">@Model.Type</h4>
                    <h6 style="text-align: end">Назавние отдела: @Model.DepartamentName</h6>
                    <h6 style="text-align: end">Корреспондент: @Model.Correspondent</h6>
                    <h6 style="text-align: end">Номер: @Model.CorrespondentNumber</h6>
                    <h5 style="text-align: center">Описание</h5>
                    <p>
                        @Model.Topic
                    </p>
                </section>
                @* <h5 class="policy-info-ques">What personal data we collect and why we collect it</h5> *@


                @* *@
                @* <section> *@
                @* *@
                @*     <h5> Cookies </h5> *@
                @* *@
                @*     <p> If you leave a comment on our site you may opt-in to saving your name, email address and website in cookies. These are for your convenience so that you do not have to fill in your details again when you leave another comment. These cookies will last for one year.</p> *@
                @* *@
                @*     <p> If you have an account and you log in to this site, we will set a temporary cookie to determine if your browser accepts cookies. This cookie contains no personal data and is discarded when you close your browser.</p> *@
                @* *@
                @*     <p> When you log in, we will also set up several cookies to save your login information and your screen display choices. Login cookies last for two days, and screen options cookies last for a year. If you select “Remember Me”, your login will persist for two weeks. If you log out of your account, the login cookies will be removed.</p> *@
                @* *@
                @*     <p> If you edit or publish an article, an additional cookie will be saved in your browser. This cookie includes no personal data and simply indicates the post ID of the article you just edited. It expires after 1 day.</p> *@
                @* *@
                @* </section> *@
                @* *@
                @* <section> *@
                @*     <h5> Embedded content from other websites.</h5> *@
                @* *@
                @*     <p> Articles on this site may include embedded content (e.g. videos, images, articles, etc.). Embedded content from other websites behaves in the exact same way as if the visitor has visited the other website.</p> *@
                @* *@
                @*     <p> These websites may collect data about you, use cookies, embed additional third-party tracking, and monitor your interaction with that embedded content, including tracking your interaction with the embedded content if you have an account and are logged in to that website.</p> *@
                @* </section> *@
            </div>

        </div>
    </div>
</div>
<h5 style="text-align: center">Список исполнителей</h5>
<div class="table-responsive mb-4">
    <table id="style-2" class="table style-2  table-hover">
        <thead>
        <tr>
            <th>№</th>
            <th>ФИО</th>
            <th>Дата одобрение</th>
            <th>Роль</th>
            <th class="text-center">Статус</th>
            <th class="text-center">Kомментарий</th>
            <th class="text-center">Действие</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var executor in Model.Executors)
        {
            <tr>
                <td>@executor.Code</td>
                <td>@executor.User.Name</td>
                <td>@executor.ExecutionTime</td>
                <td>@executor.ExecutorRole</td>
                @if (executor.Status.Name.Equals("Новый"))
                {
                    <td class="text-center">
                        <span class="shadow-none badge outline-badge-primary">@executor.Status.Name</span>
                    </td>
                }
                @if (executor.Status.Name.Equals("Одобрено"))
                {
                    <td class="text-center">
                        <span class="shadow-none badge outline-badge-secondary">@executor.Status.Name</span>
                    </td>
                }
                @if (executor.Status.Name.Equals("Отказано"))
                {
                    <td class="text-center">
                        <span class="shadow-none badge outline-badge-danger">@executor.Status.Name</span>
                    </td>
                }
                @if (executor.StatusId == 3)
                {
                    <td class="text-center">@executor.Cause</td>
                }
                @if (executor.StatusId != 3)
                {
                    <td class="text-center">Пусто</td>
                }

                @if (executor.UserId.Equals(@Model.CurrentUserId))
                {
                    @if (executor.StatusId != 4 && executor.StatusId != 3)
                    {
                        <td class="text-center">
                            <a asp-action="Update" asp-controller="Document" asp-route-statusId="4" asp-route-id="@Model.Id" asp-route-executorId="@executor.Id" class="btn btn-success">Одобрить</a>
                            <a type="button" class="btn btn-danger" data-toggle="modal" data-target="#exampleModal">
                                Отказать
                            </a>
                        </td>
                    }
                }


                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">

                        <div class="modal-content">
                            <form enctype="multipart/form-data" asp-action="Reject" asp-controller="Document" asp-route-statusId="3" asp-route-id="@Model.Id" asp-route-executorId="@executor.Id" method="post">
                                <div class="modal-body">
                                    <div class="form-group mb-4">
                                        <label class="control-label">Причина отказа:</label>
                                        <input type="text" name="Description" asp-for="@Model.Description" class="form-control">
                                    </div>
                                </div>

                                <div class="modal-footer">
                                    <button class="btn" data-dismiss="modal"><i class="flaticon-cancel-12"></i> Отмена</button>
                                    <input type="submit" value="Отказать" class="btn btn-primary">
                                </div>
                            </form>
                        </div>
                    </div>
                </div>

            </tr>
        }
        </tbody>
    </table>
</div>


<!-- END GLOBAL MANDATORY SCRIPTS -->
<script src="~/assets/js/libs/jquery-3.1.1.min.js"></script>
<script src="~/bootstrap/js/popper.min.js"></script>
<script src="~/bootstrap/js/bootstrap.min.js"></script>
<script src="~/plugins/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script src="~/assets/js/app.js"></script>

<script>
        // Scroll To Top
        $(document).on('click', '.arrow', function(event) {
          event.preventDefault();
          var body = $("html, body");
          body.stop().animate({scrollTop:0}, 500, 'swing');
        });
    </script>
</body>